<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARIEchoServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ARIFetch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ARISockets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E85D5FE3194B917900ECC32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88984B3194A751E00A831A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88984BE194A751E00A831A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88984E7194A760300A831A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88984F8194A760300A831A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
